<template>
    <div>
        <vuetable ref="vuetable"
                  api-url="http://homestead.pt/api/v1/users/index01"
                  :fields="fields"
                  pagination-path=""
        ></vuetable>
        <vuetable-pagination ref="pagination"></vuetable-pagination>
    </div>

</template>

<script>
    import Vuetable from 'vuetable-2/src/components/Vuetable'
    import VuetablePagination from 'vuetable-2/src/components/VuetablePagination'
    // import Vue from 'vue'
    // import VueMoment from 'vue-moment'
    //
    // Vue.use(VueMoment)
    export default {
        components: {
            Vuetable,
            VuetablePagination
        },
        data () {
            return {
                fields: [

                    {
                        name: 'id',
                        title: '#',
                        titleClass: 'text-center',
                        dataClass: 'text-center'
                    },
                    {
                        name: 'name',
                        title: 'Họ tên',
                        titleClass: 'text-center',
                        dataClass: 'text-left'

                    },
                    {
                        name: 'email',
                        title: 'Email',
                        titleClass: 'text-center',
                        dataClass: 'text-left'
                    },
                    {
                        name: 'created_at',
                        title: 'Ngày tạo',
                        titleClass: 'text-center',
                        dataClass: 'text-center',
                        // callback: 'formatDate|DD-MM-YYYY'
                    },
                ]
            }
        },
        methods: {
            //...
            // formatDate (value, fmt = 'D MMM YYYY') {
            //     return (value == null)
            //         ? ''
            //         : moment(value, 'YYYY-MM-DD').format(fmt)
            // }
        }
    }
</script>