<template>
    <div class="box box-primary">
        <div class="error" v-if="errors.length">
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span v-for="err in errors">
             {{ err }}
            </span>
          </div>
        </div>
        <div class="box-header with-border">
          <h3 class="box-title">Edit User</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" v-on:submit="updateUser(user)" >
          <div class="box-body">
            <div class="form-group " >
              <label for="name">Họ Tên</label>
              <input type="text" class="form-control" v-model="user.name" placeholder="Fullname" >
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" v-model="user.email" placeholder="Email">
            </div>

            <div class="form-group">
              <label for="password">Mật khẩu</label>
              <input type="password" class="form-control" v-model="user.password"  placeholder="Password">
            </div>

            <div class="form-group">
              <label for="groups">Role</label>
              <v-select :options="list_groups" multiple v-model='user.groups' :selected="user.groups"  label="gname"></v-select>
            </div>
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <!-- <button type="button" class="btn btn-primary" @click="updateProduct(user)">Submit</button> -->
            <button class="btn btn-primary" >Submit</button>
            <router-link :to="{ name: 'user.index' }">
                <button type="button" class="btn btn-danger">Back</button>
            </router-link>
          </div>
        </form>
      </div>
    <!-- /.box -->
</template>

<script>
    export default {
      mounted() {
        // Ở quá trình này chúng ta đã có đầy đủ quyền truy cập vào data, template, DOM
        let app = this;
        let id = app.$route.params.id;
        app.userId = id;
        axios.get('/api/v1/users/' + id)
            .then(function (resp) {
              app.user = resp.data.user;
              app.user.groups = resp.data.groups;
            })
            .catch(function () {
                alert("Không tìm thấy User")
            });
        },
      data() {
        return {
          userId: 0,
          user: {
            name: '',
            email: '',
            password: '',
            groups: [],
          },
          errors: [],
          list_groups: [],
        }
      },
  computed: {
    // tuong tu method nhung khong co tham so truyen vao, khi goi k co ()
  },
  created() {
    this.getListGroups()
  },
  methods: {
    gotoIndex(){
        this.$router.push({ name: "user.index"})
    },
    getListGroups(){
      axios.get('/api/v1/users/groups')
      .then(response => {
        this.list_groups = response.data
      })
      .catch(error => {
        this.errors = error.response.data.errors.name
      }) 
    },
    updateUser() {
      event.preventDefault();
      var newUser = this.user;
      axios.patch('/api/v1/users/' + this.userId, newUser)
      .then(response => {
        console.log(response.data.result)
        this.gotoIndex();
      })
      .catch(error => {
        this.errors = error.response.data.errors.name
      })
    },
    
  }
}
</script>
 
<style lang="scss" scoped>
    
</style>