<template >
  <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">User</h3>
        <hr>
        <router-link :to="{ name: 'user.create' }"><a href="javascript:;" class="btn btn-success" ><span class="glyphicon glyphicon-plus"></span>Add</a></router-link>
      </div>
        <!-- /.box-header -->
        <div class="box-body">
          <my-vuetable></my-vuetable>
<!--          <datatable></datatable>-->
<!--          <table class="table table-bordered table-hover">-->
<!--            <thead>-->
<!--              <tr>-->
<!--                <th>ID</th>-->
<!--                <th>Họ Tên</th>-->
<!--                <th>Email</th>-->
<!--                <th>Action</th>-->
<!--              </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--              &lt;!&ndash; <tr>-->
<!--                <td><input type="text" ></td>-->
<!--                <td><input type="text" ></td>-->
<!--                <td><input type="text" ></td>-->
<!--                <td><input type="text" ></td>-->
<!--                <td></td>-->
<!--              </tr> &ndash;&gt;-->
<!--              <tr v-for="(user, index) in list_users">-->
<!--                <td>{{ user.id }}</td>-->
<!--                <td>{{ user.name }}</td>-->
<!--                <td>{{ user.email }}</td>-->
<!--                <td>-->
<!--                  <router-link :to="{name: 'user.edit', params: {id: user.id}}">-->
<!--                    <button class="btn btn-success"><i class="fa fa-pencil"></i> Edit</button>-->
<!--                  </router-link>-->

<!--                  <button class="btn btn-danger" @click="deleteProduct(user, index)"><i class="fa fa-trash"></i> Delete</button>-->
<!--                </td>              -->
<!--              </tr>-->

<!--          </tbody>-->
<!--        </table>-->
        </div>

        

  </div>
</template>

<script>
  import Vue from 'vue'
  import VueMoment from 'vue-moment'

  Vue.use(VueMoment)
  export default {
   data() {
    return {
      user: {
        name: '',
        email: '',
      },
      errors: [],
      list_users: []
    }
  },
  created() {
    // this.getListUsers()
  },
  computed: {
    // tuong tu method nhung khong co tham so truyen vao, khi goi k co ()
  },
  methods: {
    gotoIndex(){
        this.$router.push({ name: "user.index"})
    },
    getListUsers() {
      axios.get('/api/v1/users')
      .then(response => {
        this.list_users = response.data
      })
      .catch(error => {
        this.errors = error.response.data.errors.name
      }) 
    },
    deleteProduct(user, index) {
      if (confirm("Do you really want to delete it?")) {
        axios.delete('/api/v1/users/' + user.id)
          .then(response => {
            console.log(response.data.result)
            if(response.data.result == 'warning') {
              alert('Không thể Xóa User, vì có chứa Bài viết!!');
            } else {
              this.list_users.splice(index, 1)
            }
            // this.gotoIndex();
          })
          .catch(error => {
            this.errors = error.response.data.errors.name
          })
      }
    }
  } 
}
</script>
