<template>
    <div>
        <form id="search">
            Search
            <input name="query" v-model="searchQuery">
        </form>
        <data-table :data="list_users"
                    :columns-to-display="gridColumns"
                    :filter-key="searchQuery"
                    :display-names="displayNames"
                    :columns-to-not-sort="['action']"
        >
            <template slot="name" slot-scope="props">
                <b>{{props.entry.name}}</b>
                <br />
            </template>
            <template slot="action" slot-scope="props">
                <router-link :to="{name: 'user.edit', params: {id: props.entry.id}}">
                    <button class="btn btn-success"><i class="fa fa-pencil"></i> Edit</button>
                </router-link>
                <button class="btn btn-danger" @click="deleteProduct(props.entry.id)"><i class="fa fa-trash"></i> Delete</button>
            </template>
        </data-table>
    </div>


</template>

<script>

    export default {
        name: 'DatatablePage',

        data() {
            return {
                searchQuery: '',
                displayNames: {
                    'name': 'Họ Tên',
                    'email': 'Email'
                },
                gridColumns: ['id','name', 'email', 'action'],
                list_users: []

            }
        },
        created() {
            this.getListUsers()
        },
        methods: {
            showPower(power) {
                alert(power);
            },
            getListUsers() {
                axios.get('/api/v1/users')
                    .then(response => {
                        this.list_users = response.data
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors.name
                    })
            },
            deleteProduct(id) {
                if (confirm("Do you really want to delete it?")) {
                    axios.delete('/api/v1/users/' + id)
                        .then(response => {
                            console.log(response.data.result)
                            if(response.data.result == 'warning') {
                                alert('Không thể Xóa User, vì có chứa Bafi viết!!');
                            } else {
                                this.$router.push({ name: "user.index"})
                            }
                            // this.gotoIndex();
                        })
                        .catch(error => {
                            this.errors = error.response.data.errors.name
                        })
                }
            }
        },

    }
</script>
<style>
    body {
        font-family: Helvetica Neue, Arial, sans-serif;
        font-size: 14px;
        color: #444;
    }

    table {
        border: 2px solid #42b983;
        border-radius: 3px;
        background-color: #fff;
    }

    th {
        background-color: #42b983;
        color: rgba(255, 255, 255, 0.66);
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    td {
        background-color: #f9f9f9;
    }

    th,
    td {
        min-width: 120px;
        padding: 10px 20px;
    }

    th.active {
        color: #fff;
    }

    th.active .arrow {
        opacity: 1;
    }

    .arrow {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 0;
        margin-left: 5px;
        opacity: 0.66;
    }

    .arrow.asc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #fff;
    }

    .arrow.dsc {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #fff;
    }

</style>