<template>
    <div class="box box-primary">
        <div class="error" v-if="errors.length">
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <span v-for="err in errors">
             {{ err }}
            </span>
          </div>
        </div>
        <div class="box-header with-border">
          <h3 class="box-title">Create Group</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" v-on:submit="createGroup()" >
          <div class="box-body">
            <div class="form-group " >
              <label for="gname">Name</label>
              <input type="text" class="form-control" v-model="group.gname" placeholder="Name" >
            </div>
            
          </div>
          <!-- /.box-body -->

          <div class="box-footer">
            <!-- <button type="button" class="btn btn-primary" @click="updateProduct(user)">Submit</button> -->
            <button    class="btn btn-primary" >Submit</button>
            <router-link :to="{ name: 'groups.index' }">
                <button type="button" class="btn btn-danger">Back</button>
            </router-link>
          </div>
        </form>
      </div>
    <!-- /.box -->
</template>

<script>
  import Vue from 'vue'
  import vSelect from 'vue-select'
  Vue.use(vSelect)
  export default {
    mounted() {
        // Ở quá trình này chúng ta đã có đầy đủ quyền truy cập vào data, template, DOM

      },
      data() {
        return {
          groupId: 0,
          group: {
            gname: '',
          },
          errors: [],
          list_groups: [],
        }
      },
      computed: {
    // tuong tu method nhung khong co tham so truyen vao, khi goi k co ()
  },

  methods: {
    gotoIndex(){
      this.$router.push({ name: "groups.index"})
    },
    createGroup() {
      this.errors = [];
      event.preventDefault();
      var newGroup = this.group;
      axios.post('/api/v1/groups', newGroup)
      .then(response => {
        console.log(response.data.result)
        this.gotoIndex();
      })
      .catch(error => {
        this.errors = []
        if(error.response.data.errors.gname) {
          this.errors.push(error.response.data.errors.gname)
        }
      })
    },    
    
  }
}
</script>
 
<style lang="scss" scoped>
    
</style>