<template >
  <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Groups User</h3>
        <hr>
        <router-link :to="{ name: 'groups.create' }"><a href="javascript:;" class="btn btn-success" ><span class="glyphicon glyphicon-plus"></span>Add</a></router-link>
      </div>
        <!-- /.box-header -->
        <div class="box-body">

          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td><input type="text" ></td>
                <td></td>
              </tr> -->
              <tr v-for="(group, index) in list_groups">
                <td>{{ group.id }}</td>
                <td>{{ group.gname }}</td>
                <td>
                  <router-link :to="{name: 'groups.edit', params: {id: group.id}}">
                    <button class="btn btn-success"><i class="fa fa-pencil"></i> Edit</button>
                  </router-link>

                  <button class="btn btn-danger" @click="deleteGroups(group, index)"><i class="fa fa-trash"></i> Delete</button>
                </td>              
              </tr>

          </tbody>
        </table>
        </div>
        
        <!-- /.box-body -->
        <!-- <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>  -->
  </div>
</template>

<script>
  import Vue from 'vue'
  import VueMoment from 'vue-moment';

  Vue.use(VueMoment)
  export default {
   data() {
    return {
      group: {
        gname: '',
      },
      errors: [],
      list_groups: []
    }
  },
  created() {
    this.getListGroups()
  },
  computed: {
    // tuong tu method nhung khong co tham so truyen vao, khi goi k co ()
  },
  methods: {
    gotoIndex(){
        this.$router.push({ name: "groups.index"})
    },
    getListGroups() {
      axios.get('/api/v1/groups')
      .then(response => {
        this.list_groups = response.data
      })
      .catch(error => {
        this.errors = error.response.data.errors.gname
      }) 
    },
    deleteGroups(group, index) {
      if (confirm("Do you really want to delete it?")) {
        axios.delete('/api/v1/groups/' + group.id)
          .then(response => {
            console.log(response.data.result)
            if(response.data.result == 'warning') {
              alert('Không thể Xóa Group, vì có chứa User!!');
            } else {
              this.list_groups.splice(index, 1)
            }
            // this.gotoIndex();
          })
          .catch(error => {
            this.errors = error.response.data.errors.gname
          })
      }
    }
  } 
}
</script>
